<div class="container" id="fh5co-contact">
	<div class="fh5co-spacer fh5co-spacer-sm"></div>
	
	<div class="col-md-12">
		<div class="fh5co-section-heading">
			<h2 class="text-muted">{{content.field_contact_sub_title.0}}</h2>
			<h3 class="text-center">{{content.field_contact_title.0}}</h3>
		</div>
		<div class="col-md-6 col-md-offset-3">
			{{ content.field_contact_form }}
		</div>
	</div>	
</div>
