<div class="fh5co-call-to-action" style="background-image: url({{file_url(content.field_join_us_background_image['#items'].entity.uri.value)}}); background-position: center center;">
	<div class="fh5co-overlay"></div>
	<div class="container">
		<div class="fh5co-call-to-action-wrap">
			<div class="fh5co-call-to-action-inner text-center">
				<h3 class="fh5co-call-to-action-text">{{ content.field_join_us_title.0 }}</h3>
				{{ content.field_button_link.0 }}
			</div>
		</div>
	</div>
</div>
		