<div class="col-md-5 col-md-push-1 col-sm-5 col-sm-push-1 fh5co-service">
	<div class="fh5co-spacer fh5co-spacer-sm"></div>
		<div class="fh5co-service-list">
			<span class="fh5co-service-icon">{{content.field_service_icon.0}}</span>
			<h2>{{content.field_service_title.0}}</h2>
			{{content.field_service_content.0}}
		</div>
</div>
