<div class="fh5co-spacer fh5co-spacer-lg"></div>
<div id="js-fh5co-slider">
	<div class="container">
		<div class="fh5co-section-heading">
			<h2 class="text-muted">{{ content.field_slider_title.0 }} </h2>
			<h3 class="text-center">{{ content.field_slider_description.0 }} </h3>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="owl-carousel owl-carousel-fullwidth">
					{{ content.field_slide_images }}				    
				</div>
			</div>
		</div>
	</div>
</div>
<div class="fh5co-spacer fh5co-spacer-lg"></div>